<header class="site-header">


  <!-- http://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.title == page.title %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
              <a class="nav navbar-nav" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">More
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Merchandise</a></li>
            <li><a href="#">Extras</a></li>
            <li><a href="/about">About</a></li> 
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </nav>

</header>
